https://loterias.caixa.gov.br/Paginas/Mega-Sena.aspx

In [1]:
import numpy as np
import pandas as pd

In [2]:
df_lottery = pd.read_excel('mega_sena.xlsx')

In [3]:
df_lottery.head()

,Concurso,Data do Sorteio,Bola1,Bola2,Bola3,Bola4,Bola5,Bola6,Ganhadores 6 acertos,Cidade / UF,Rateio 6 acertos,Ganhadores 5 acertos,Rateio 5 acertos,Ganhadores 4 acertos,Rateio 4 acertos,Acumulado 6 acertos,Arrecadação Total,Estimativa prêmio,Acumulado Sorteio Especial Mega da Virada,Observação
0,1,11/03/1996,4,5,30,33,41,52,0,NaN,"R$0,00",17,"R$39.158,92",2016,"R$330,21","R$1.714.650,23","R$0,00","R$0,00","R$0,00",NaN
1,2,18/03/1996,9,37,39,41,43,49,1,PR,"R$2.307.162,23",65,"R$14.424,02",4488,"R$208,91","R$0,00","R$0,00","R$0,00","R$0,00",NaN
2,3,25/03/1996,10,11,29,30,36,47,2,RN; \nSP,"R$391.192,51",62,"R$10.515,93",4261,"R$153,01","R$0,00","R$0,00","R$0,00","R$0,00",NaN
3,4,01/04/1996,1,5,6,27,42,59,0,NaN,"R$0,00",39,"R$15.322,24",3311,"R$180,48","R$717.080,75","R$0,00","R$0,00","R$0,00",NaN
4,5,08/04/1996,1,2,6,16,19,46,0,NaN,"R$0,00",98,"R$5.318,10",5399,"R$96,53","R$1.342.488,85","R$0,00","R$0,00","R$0,00",NaN

In [4]:
df_lottery.tail()

,Concurso,Data do Sorteio,Bola1,Bola2,Bola3,Bola4,Bola5,Bola6,Ganhadores 6 acertos,Cidade / UF,Rateio 6 acertos,Ganhadores 5 acertos,Rateio 5 acertos,Ganhadores 4 acertos,Rateio 4 acertos,Acumulado 6 acertos,Arrecadação Total,Estimativa prêmio,Acumulado Sorteio Especial Mega da Virada,Observação
2647,2651,01/11/2023,6,23,35,36,37,59,1,GOIANIA/GO,"R$104.876.676,04",190,"R$44.109,26",12147,"R$985,63","R$0,00","R$145.359.230,00","R$3.500.000,00","R$97.181.055,12",NaN
2648,2652,04/11/2023,13,23,26,29,45,59,0,NaN,"R$0,00",76,"R$28.805,98",4089,"R$764,85","R$4.032.837,37","R$37.971.305,00","R$9.000.000,00","R$97.757.174,76",NaN
2649,2653,07/11/2023,14,32,41,43,48,60,0,NaN,"R$0,00",31,"R$63.674,08",1965,"R$1.435,03","R$7.668.962,65","R$34.236.050,00","R$10.000.000,00","R$98.276.621,25",NaN
2650,2654,09/11/2023,11,17,23,36,47,51,1,FLORIANOPOLIS/SC,"R$11.906.870,24",66,"R$34.857,25",4104,"R$800,81","R$24.165.201,83","R$39.902.150,00","R$30.000.000,00","R$98.882.036,64",NaN
2651,2655,11/11/2023,10,23,30,31,49,56,0,NaN,"R$0,00",57,"R$57.391,95",3909,"R$1.195,53","R$30.191.355,90","R$56.739.440,00","R$37.000.000,00","R$99.742.915,80",NaN

In [5]:
columns_renamed = {
    'Concurso': 'concurso',
    'Data do Sorteio': 'data_sorteio',
    'Bola1': 'bola1',
    'Bola2': 'bola2',
    'Bola3': 'bola3',
    'Bola4': 'bola4',
    'Bola5': 'bola5',
    'Bola6': 'bola6',
    'Ganhadores 6 acertos': 'ganhadores_6_acertos',
    'Cidade / UF': 'cidade_uf',
    'Rateio 6 acertos': 'rateio_6_acertos',
    'Ganhadores 5 acertos': 'ganhadores_5_acertos',
    'Rateio 5 acertos': 'rateio_5_acertos',
    'Ganhadores 4 acertos': 'ganhadores_4_acertos',
    'Rateio 4 acertos': 'rateio_4_acertos',
    'Acumulado 6 acertos': 'acumulado_6_acertos',
    'Arrecadação Total': 'arrecadacao_total',
    'Estimativa prêmio': 'estimativa_premio',
    'Acumulado Sorteio Especial Mega da Virada': 'acumulado_mega_virada',
    'Observação': 'obs',
}

In [6]:
df_lottery = df_lottery.rename(columns=columns_renamed)

In [7]:
df_lottery.head()

,concurso,data_sorteio,bola1,bola2,bola3,bola4,bola5,bola6,ganhadores_6_acertos,cidade_uf,rateio_6_acertos,ganhadores_5_acertos,rateio_5_acertos,ganhadores_4_acertos,rateio_4_acertos,acumulado_6_acertos,arrecadacao_total,estimativa_premio,acumulado_mega_virada,obs
0,1,11/03/1996,4,5,30,33,41,52,0,NaN,"R$0,00",17,"R$39.158,92",2016,"R$330,21","R$1.714.650,23","R$0,00","R$0,00","R$0,00",NaN
1,2,18/03/1996,9,37,39,41,43,49,1,PR,"R$2.307.162,23",65,"R$14.424,02",4488,"R$208,91","R$0,00","R$0,00","R$0,00","R$0,00",NaN
2,3,25/03/1996,10,11,29,30,36,47,2,RN; \nSP,"R$391.192,51",62,"R$10.515,93",4261,"R$153,01","R$0,00","R$0,00","R$0,00","R$0,00",NaN
3,4,01/04/1996,1,5,6,27,42,59,0,NaN,"R$0,00",39,"R$15.322,24",3311,"R$180,48","R$717.080,75","R$0,00","R$0,00","R$0,00",NaN
4,5,08/04/1996,1,2,6,16,19,46,0,NaN,"R$0,00",98,"R$5.318,10",5399,"R$96,53","R$1.342.488,85","R$0,00","R$0,00","R$0,00",NaN

In [8]:
df_lottery.tail()

,concurso,data_sorteio,bola1,bola2,bola3,bola4,bola5,bola6,ganhadores_6_acertos,cidade_uf,rateio_6_acertos,ganhadores_5_acertos,rateio_5_acertos,ganhadores_4_acertos,rateio_4_acertos,acumulado_6_acertos,arrecadacao_total,estimativa_premio,acumulado_mega_virada,obs
2647,2651,01/11/2023,6,23,35,36,37,59,1,GOIANIA/GO,"R$104.876.676,04",190,"R$44.109,26",12147,"R$985,63","R$0,00","R$145.359.230,00","R$3.500.000,00","R$97.181.055,12",NaN
2648,2652,04/11/2023,13,23,26,29,45,59,0,NaN,"R$0,00",76,"R$28.805,98",4089,"R$764,85","R$4.032.837,37","R$37.971.305,00","R$9.000.000,00","R$97.757.174,76",NaN
2649,2653,07/11/2023,14,32,41,43,48,60,0,NaN,"R$0,00",31,"R$63.674,08",1965,"R$1.435,03","R$7.668.962,65","R$34.236.050,00","R$10.000.000,00","R$98.276.621,25",NaN
2650,2654,09/11/2023,11,17,23,36,47,51,1,FLORIANOPOLIS/SC,"R$11.906.870,24",66,"R$34.857,25",4104,"R$800,81","R$24.165.201,83","R$39.902.150,00","R$30.000.000,00","R$98.882.036,64",NaN
2651,2655,11/11/2023,10,23,30,31,49,56,0,NaN,"R$0,00",57,"R$57.391,95",3909,"R$1.195,53","R$30.191.355,90","R$56.739.440,00","R$37.000.000,00","R$99.742.915,80",NaN

In [9]:
df_lottery.describe().T

,count,mean,std,min,25%,50%,75%,max
concurso,2652.0,1326.511689,765.730947,1.0,663.75,1326.5,1989.25,2655.0
bola1,2652.0,8.618778,7.007341,1.0,3.00,7.0,12.00,50.0
bola2,2652.0,17.331825,9.142445,2.0,10.00,16.0,23.00,51.0
bola3,2652.0,26.345400,9.973401,3.0,19.00,26.0,33.00,56.0
bola4,2652.0,35.061086,9.765800,8.0,28.00,35.0,42.00,58.0
bola5,2652.0,43.546380,9.046243,11.0,38.00,45.0,51.00,59.0
bola6,2652.0,52.161765,7.010732,22.0,49.00,54.0,58.00,60.0
ganhadores_6_acertos,2652.0,0.342760,1.294073,0.0,0.00,0.0,0.00,52.0
ganhadores_5_acertos,2652.0,112.185143,229.948193,4.0,48.00,75.0,117.00,7688.0
ganhadores_4_acertos,2652.0,7232.231523,11222.128102,683.0,3664.50,5311.5,7636.00,303857.0

Transformando dados

seguimenta coluna 'data_sorteio' em colunas 'dia', 'mes', 'ano'

In [10]:
def extrair_data(data):
    data_formatada = pd.to_datetime(data, format='%d/%m/%Y')
    return pd.Series({
        'dia': data_formatada.day,
        'mes': data_formatada.month,
        'ano': data_formatada.year
    })

In [11]:
df_lottery[['dia', 'mes', 'ano']] = df_lottery['data_sorteio'].apply(extrair_data)

In [12]:
del df_lottery['data_sorteio']

In [13]:
df_lottery.head()

,concurso,bola1,bola2,bola3,bola4,bola5,bola6,ganhadores_6_acertos,cidade_uf,rateio_6_acertos,...,ganhadores_4_acertos,rateio_4_acertos,acumulado_6_acertos,arrecadacao_total,estimativa_premio,acumulado_mega_virada,obs,dia,mes,ano
0,1,4,5,30,33,41,52,0,NaN,"R$0,00",...,2016,"R$330,21","R$1.714.650,23","R$0,00","R$0,00","R$0,00",NaN,11,3,1996
1,2,9,37,39,41,43,49,1,PR,"R$2.307.162,23",...,4488,"R$208,91","R$0,00","R$0,00","R$0,00","R$0,00",NaN,18,3,1996
2,3,10,11,29,30,36,47,2,RN; \nSP,"R$391.192,51",...,4261,"R$153,01","R$0,00","R$0,00","R$0,00","R$0,00",NaN,25,3,1996
3,4,1,5,6,27,42,59,0,NaN,"R$0,00",...,3311,"R$180,48","R$717.080,75","R$0,00","R$0,00","R$0,00",NaN,1,4,1996
4,5,1,2,6,16,19,46,0,NaN,"R$0,00",...,5399,"R$96,53","R$1.342.488,85","R$0,00","R$0,00","R$0,00",NaN,8,4,1996

In [14]:
df_lottery.tail()

,concurso,bola1,bola2,bola3,bola4,bola5,bola6,ganhadores_6_acertos,cidade_uf,rateio_6_acertos,...,ganhadores_4_acertos,rateio_4_acertos,acumulado_6_acertos,arrecadacao_total,estimativa_premio,acumulado_mega_virada,obs,dia,mes,ano
2647,2651,6,23,35,36,37,59,1,GOIANIA/GO,"R$104.876.676,04",...,12147,"R$985,63","R$0,00","R$145.359.230,00","R$3.500.000,00","R$97.181.055,12",NaN,1,11,2023
2648,2652,13,23,26,29,45,59,0,NaN,"R$0,00",...,4089,"R$764,85","R$4.032.837,37","R$37.971.305,00","R$9.000.000,00","R$97.757.174,76",NaN,4,11,2023
2649,2653,14,32,41,43,48,60,0,NaN,"R$0,00",...,1965,"R$1.435,03","R$7.668.962,65","R$34.236.050,00","R$10.000.000,00","R$98.276.621,25",NaN,7,11,2023
2650,2654,11,17,23,36,47,51,1,FLORIANOPOLIS/SC,"R$11.906.870,24",...,4104,"R$800,81","R$24.165.201,83","R$39.902.150,00","R$30.000.000,00","R$98.882.036,64",NaN,9,11,2023
2651,2655,10,23,30,31,49,56,0,NaN,"R$0,00",...,3909,"R$1.195,53","R$30.191.355,90","R$56.739.440,00","R$37.000.000,00","R$99.742.915,80",NaN,11,11,2023

seguimenta coluna 'cidade_uf' em colunas 'cidade', 'uf'

In [15]:
def extrair_cidade_uf(data):
    
    data = str(data)

    if data is None or data == 'NaN':
        return pd.Series({'cidade': 'n/a', 'uf': 'n/a'})
    elif data.__contains__('/'):
        data_arr = str(data).split('/')
        return pd.Series({'cidade': data_arr[0], 'uf': data_arr[1] })
    elif data.__contains__('; \n'):
        data_arr = str(data).split('; \n')
        return pd.Series({'cidade': data_arr[0], 'uf': data_arr[1] })
    else:
        return pd.Series({'cidade': 'n/a', 'uf': 'n/a'})

In [16]:
df_lottery[['cidade', 'uf']] = df_lottery['cidade_uf'].apply(extrair_cidade_uf)

In [17]:
del df_lottery['cidade_uf']

In [18]:
df_lottery.head()

,concurso,bola1,bola2,bola3,bola4,bola5,bola6,ganhadores_6_acertos,rateio_6_acertos,ganhadores_5_acertos,...,acumulado_6_acertos,arrecadacao_total,estimativa_premio,acumulado_mega_virada,obs,dia,mes,ano,cidade,uf
0,1,4,5,30,33,41,52,0,"R$0,00",17,...,"R$1.714.650,23","R$0,00","R$0,00","R$0,00",NaN,11,3,1996,n/a,n/a
1,2,9,37,39,41,43,49,1,"R$2.307.162,23",65,...,"R$0,00","R$0,00","R$0,00","R$0,00",NaN,18,3,1996,n/a,n/a
2,3,10,11,29,30,36,47,2,"R$391.192,51",62,...,"R$0,00","R$0,00","R$0,00","R$0,00",NaN,25,3,1996,RN,SP
3,4,1,5,6,27,42,59,0,"R$0,00",39,...,"R$717.080,75","R$0,00","R$0,00","R$0,00",NaN,1,4,1996,n/a,n/a
4,5,1,2,6,16,19,46,0,"R$0,00",98,...,"R$1.342.488,85","R$0,00","R$0,00","R$0,00",NaN,8,4,1996,n/a,n/a

In [19]:
df_lottery.tail()

,concurso,bola1,bola2,bola3,bola4,bola5,bola6,ganhadores_6_acertos,rateio_6_acertos,ganhadores_5_acertos,...,acumulado_6_acertos,arrecadacao_total,estimativa_premio,acumulado_mega_virada,obs,dia,mes,ano,cidade,uf
2647,2651,6,23,35,36,37,59,1,"R$104.876.676,04",190,...,"R$0,00","R$145.359.230,00","R$3.500.000,00","R$97.181.055,12",NaN,1,11,2023,GOIANIA,GO
2648,2652,13,23,26,29,45,59,0,"R$0,00",76,...,"R$4.032.837,37","R$37.971.305,00","R$9.000.000,00","R$97.757.174,76",NaN,4,11,2023,n/a,n/a
2649,2653,14,32,41,43,48,60,0,"R$0,00",31,...,"R$7.668.962,65","R$34.236.050,00","R$10.000.000,00","R$98.276.621,25",NaN,7,11,2023,n/a,n/a
2650,2654,11,17,23,36,47,51,1,"R$11.906.870,24",66,...,"R$24.165.201,83","R$39.902.150,00","R$30.000.000,00","R$98.882.036,64",NaN,9,11,2023,FLORIANOPOLIS,SC
2651,2655,10,23,30,31,49,56,0,"R$0,00",57,...,"R$30.191.355,90","R$56.739.440,00","R$37.000.000,00","R$99.742.915,80",NaN,11,11,2023,n/a,n/a

transforma campos de valores financeiros em tipo float

In [20]:
def extrair_valor_financeiro(valor):

    # Verificar se o valor é uma string vazia
    if pd.isna(valor) or valor == 'R$0,00':
        return 0.0  # ou qualquer valor padrão desejado se for vazio ou 'R$0,00'

    # Tratar a coluna 'rateio_6_acertos'
    valor_tratado = valor.replace('R$', '').replace('.', '').replace(',', '.')

    # Converter para float
    return float(valor_tratado)

In [21]:
df_lottery['rateio_6_acertos_1'] = df_lottery['rateio_6_acertos'].apply(extrair_valor_financeiro)

In [22]:
df_lottery.head()

,concurso,bola1,bola2,bola3,bola4,bola5,bola6,ganhadores_6_acertos,rateio_6_acertos,ganhadores_5_acertos,...,arrecadacao_total,estimativa_premio,acumulado_mega_virada,obs,dia,mes,ano,cidade,uf,rateio_6_acertos_1
0,1,4,5,30,33,41,52,0,"R$0,00",17,...,"R$0,00","R$0,00","R$0,00",NaN,11,3,1996,n/a,n/a,0.00
1,2,9,37,39,41,43,49,1,"R$2.307.162,23",65,...,"R$0,00","R$0,00","R$0,00",NaN,18,3,1996,n/a,n/a,2307162.23
2,3,10,11,29,30,36,47,2,"R$391.192,51",62,...,"R$0,00","R$0,00","R$0,00",NaN,25,3,1996,RN,SP,391192.51
3,4,1,5,6,27,42,59,0,"R$0,00",39,...,"R$0,00","R$0,00","R$0,00",NaN,1,4,1996,n/a,n/a,0.00
4,5,1,2,6,16,19,46,0,"R$0,00",98,...,"R$0,00","R$0,00","R$0,00",NaN,8,4,1996,n/a,n/a,0.00

In [23]:
df_lottery.tail()

,concurso,bola1,bola2,bola3,bola4,bola5,bola6,ganhadores_6_acertos,rateio_6_acertos,ganhadores_5_acertos,...,arrecadacao_total,estimativa_premio,acumulado_mega_virada,obs,dia,mes,ano,cidade,uf,rateio_6_acertos_1
2647,2651,6,23,35,36,37,59,1,"R$104.876.676,04",190,...,"R$145.359.230,00","R$3.500.000,00","R$97.181.055,12",NaN,1,11,2023,GOIANIA,GO,1.048767e+08
2648,2652,13,23,26,29,45,59,0,"R$0,00",76,...,"R$37.971.305,00","R$9.000.000,00","R$97.757.174,76",NaN,4,11,2023,n/a,n/a,0.000000e+00
2649,2653,14,32,41,43,48,60,0,"R$0,00",31,...,"R$34.236.050,00","R$10.000.000,00","R$98.276.621,25",NaN,7,11,2023,n/a,n/a,0.000000e+00
2650,2654,11,17,23,36,47,51,1,"R$11.906.870,24",66,...,"R$39.902.150,00","R$30.000.000,00","R$98.882.036,64",NaN,9,11,2023,FLORIANOPOLIS,SC,1.190687e+07
2651,2655,10,23,30,31,49,56,0,"R$0,00",57,...,"R$56.739.440,00","R$37.000.000,00","R$99.742.915,80",NaN,11,11,2023,n/a,n/a,0.000000e+00

Contagem das bolas sorteadas nos jogos

In [24]:
# Transforme os resultados dos sorteios em uma única coluna para facilitar a contagem
df_balls = df_lottery[['bola1', 'bola2', 'bola3', 'bola4', 'bola5', 'bola6']].stack()

# Conte a frequência de cada bola
df_balls_frequency = df_balls.value_counts().reset_index()
df_balls_frequency.columns = ['ball_value', 'frequency']

In [37]:
df_balls_frequency.T

,0,1,2,3,4,5,6,7,8,9,...,50,51,52,53,54,55,56,57,58,59
ball_value,10,53,5,37,23,34,33,44,35,32,...,31,7,40,3,48,22,15,55,21,26
frequency,311,304,295,287,287,285,283,282,282,282,...,248,247,247,247,246,241,229,225,223,223

In [36]:
df_balls_frequency.head()

   ball_value  frequency
0          10        311
1          53        304
2           5        295
3          37        287
4          23        287

In [35]:
df_balls_frequency.tail()

    ball_value  frequency
55          22        241
56          15        229
57          55        225
58          21        223
59          26        223

In [27]:
# import seaborn as sns
# import matplotlib.pyplot as plt

In [28]:
# df_balls_frequency.set_index('ball_value', inplace=True)

In [29]:
# df_balls_frequency.sort_index().T

In [30]:
# df_balls_frequency[['frequency']].sort_index().T.corr

In [31]:
# # Plotar a matriz de correlação usando Seaborn
# plt.figure(figsize=(8, 6))
# plt.title('Matriz de Correlação das Frequências das Bolas Sorteadas na Mega-Sena')
# sns.heatmap(
#     df_balls_frequency.sort_index().T
#     , annot=True
#     , cmap='coolwarm'
#     , fmt=".2f"
#     , linewidths=.75
# )
# plt.show()